# MongoDB Connection
MONGODB_URI=mongodb+srv://couterFit:1111@cluster0.oq9aa.mongodb.net/rag-knowledge-base?authSource=admin&replicaSet=atlas-8cx2h7-shard-0&w=majority&readPreference=primary&appname=Cluster0&retryWrites=true&ssl=true

# JWT Secret
JWT_SECRET=bansal1234

# Pinecone Configuration
PINECONE_API_KEY=pcsk_hHe2A_RLbxGQoDVJb3fE629rF7pSeQ3YA7SRbbd6zpShmJzF37AfYN51SJCXifK8q9b3L
PINECONE_ENVIRONMENT=dev
PINECONE_INDEX_NAME=knowledgehub-bot

# OpenRouter Configuration
OPENROUTER_API_KEY=your-openrouter-api-key
OPENROUTER_EMBEDDING_MODEL=BAAI/bge-m3
OPENROUTER_CHAT_MODEL=meta-llama/llama-3.1-8b-instruct
OPENROUTER_API_KEY=https://openrouter.ai/api/v1


